---
layout: default
---

<div>

  {{ content }}

  <h2>Latest Articles</h2>

    {% for post in site.posts %}
        <h2 class="post-link">
          <a class="post-link" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{{ post.title | escape }}</a>
        </h2>

        {% assign date_format = site.cayman-blog.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        {{ post.excerpt | markdownify }}
    {% endfor %}

</div>
